.app {
  display: grid;
  place-items: center;
  height: 100vh;
  min-width: fit-content;
  background: linear-gradient(to bottom, #128c7e 0%, #128c7e 8%, #dadbd3 8%, #dadbd3 100%);
}

.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  max-height: 90vh;
  min-width: fit-content;
  width: 90vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75);
}